@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

$font-logo: 'Bungee Inline', cursive;
$font: bold 36px Roboto Condensed;
$font-small: bold 24px Roboto Condensed;
$color-social: rgba(126,7,21,0.4);
$color: rgba(126,7,21,0.8);
$color-hover: rgba(126,7,21,1);